<h1>Legends</h1>

<div class="container-fluid">
  <div class="grid">
    <% @legends.each do |legend| %>
      <div class="card g-col-4">
        <img src="<%= legend.img%>" alt="<%= legend.name%> " class="img-fluid">
        <div class="card-body">
           <h3 class="card-text text-center "><%= link_to legend.name, legend, :class => "text-decoration-none"%></h3>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <%= page_entries_info @legends %>
  <%= paginate @legends, window: 2 %>
</div>


