<h1><%= @legend.name %></h1>
<h2><%= @legend.title %></h2>
<blockquote> <i> <%= @legend.quote %> </i> </blockquote>
<img src="<%= @legend.image_url%>" alt="<%= @legend.name%>" width="500">
<h2>Role: <%= @legend.role.name %></h2>
<h5>Passive: <%= @legend.passive %> </h5>
<h5>Tactical: <%= @legend.tactical %> </h5>
<h5>Ultimate: <%= @legend.ultimate %> </h5>
<p><%= @legend.description %></p>