<h1><%= @legends.name %></h1>
<h2><%= @legends.title %></h2>
<blockquote> <i> <%= @legends.quote %> </i> </blockquote>
<img src="<%= @legends.image_url%>" alt="<%= @legends.name%>" width="500">
<h2>Role: <%= @legends.role.name %></h2>
<h3>Passive: <%= @legends.passive %> </h3>
<h3>Tactical: <%= @legends.tactical %> </h3>
<h3>Ultimate: <%= @legends.ultimate %> </h3>
<p><%= @legends.description %></p>